{% extends 'base.html' %}
{% block body %}

<h3>Retreat List</h3>
<hr>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Retreat ID</th>
        <th>Retreat Name</th>
        <th>Description</th>
        <th>Retreat Date</th>
    </tr>
    </thead>
    {% for obj in object_list %}
        <tbody>
            <tr>
                <td>{{ obj.retreat_id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.description }}</td>
                <td>{{ obj.retreat_datetime }}</td>
            </tr>
        </tbody>
    {% endfor %}
</table>
    <form method="get" role="form">
        {% if object_list|length %}
            {% include "rrs/form_pagination.inc.html" %}
        {% endif %}
    </form>
{% endblock %}
